{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python - очень интересный язык программирования
      </li>
      <li class="list-group-item">
        Django - интересно, но т.к. сильно сжаты сроки в голове пока каша =(
      </li>
      <li class="list-group-item">
        <p> Пока не в совершенстве умею пользоваться инструментом  </p>
    <a href="https://ru.wikipedia.org/wiki/Visual_Studio_Code">Visual Studio</a href></p>
        <li class="list-group-item">
        <p>
            Мне очень нравится создавать что то при помощи языка праграммирования.
            Но пока я похож на меленького ребёнка, который пытается научиться ходить =))
            Я понял, что нужно очень много практики и времени.
        </p>
        <li class="list-group-item">
    </ul>
  </aside>
</div>
{% endblock %}

